#include "Lucide_res.H"
#include <os2.h>

ICON IDI_MAIN_ICON      "bitmaps\\lucide.ico"
BITMAP IDB_LOGO         "bitmaps\\lucidelogo.bmp"

BITMAP IDB_OPEN         "bitmaps\\open.bmp"
BITMAP IDB_PRINT        "bitmaps\\print.bmp"
BITMAP IDB_NAVPANE      "bitmaps\\navpanel.bmp"
BITMAP IDB_FIRSTPAGE    "bitmaps\\firstpage.bmp"
BITMAP IDB_PREVPAGE     "bitmaps\\prevpage.bmp"
BITMAP IDB_NEXTPAGE     "bitmaps\\nextpage.bmp"
BITMAP IDB_LASTPAGE     "bitmaps\\lastpage.bmp"
BITMAP IDB_100PERC      "bitmaps\\100perc.bmp"
BITMAP IDB_FITPAGE      "bitmaps\\fitpage.bmp"
BITMAP IDB_FITWIDTH     "bitmaps\\fitwidth.bmp"
BITMAP IDB_FIND         "bitmaps\\find.bmp"
BITMAP IDB_FINDAGAIN    "bitmaps\\findagain.bmp"

POINTER IDP_HAND        "bitmaps\\hand.ptr"
POINTER IDP_ZOOM_IN     "bitmaps\\zoom_in.ptr"
POINTER IDP_ZOOM_OUT    "bitmaps\\zoom_out.ptr"

MENU IDM_MAINMENU
BEGIN
    SUBMENU "MENU_DOCUMENT", 100
    BEGIN
        MENUITEM "MENU_OPEN", CM_OPEN
        MENUITEM "MENU_SAVE_AS", CM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "MENU_PRINT", CM_PRINT
        MENUITEM SEPARATOR
        MENUITEM "MENU_PLUGINS_LIST", CM_PLUGINSLIST
        MENUITEM SEPARATOR
        MENUITEM "MENU_EXIT", CM_EXIT
    END

    SUBMENU "MENU_EDIT", 200
    BEGIN
        MENUITEM "MENU_COPY", CM_COPY
        MENUITEM SEPARATOR
        MENUITEM "MENU_SELECT_ALL", CM_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "MENU_FIND", CM_FIND
        MENUITEM "MENU_FINDAGAIN", CM_FINDAGAIN
        MENUITEM SEPARATOR
        MENUITEM "MENU_SETTINGS", CM_SETTINGS
    END


    SUBMENU "MENU_VIEW", 400
    BEGIN
        MENUITEM "MENU_FIT_WINDOW", CM_FITWINDOW
        MENUITEM "MENU_ACTUAL_SIZE", CM_ACTSIZE
        MENUITEM "MENU_FIT_WIDTH", CM_FITWIDTH
        MENUITEM "MENU_ZOOM_IN_OUT", CM_ZOOM_IN_OUT
        MENUITEM SEPARATOR
        MENUITEM "MENU_FIRST_PAGE", CM_FIRSTPAGE
        MENUITEM "MENU_PREV_PAGE", CM_PREVPAGE
        MENUITEM "MENU_NEXT_PAGE", CM_NEXTPAGE
        MENUITEM "MENU_LAST_PAGE", CM_LASTPAGE
        MENUITEM "MENU_GO_TO_PAGE", CM_GOTOPAGE
        MENUITEM SEPARATOR
        MENUITEM "MENU_ROTATE_CW", CM_ROTATE90CW
        MENUITEM "MENU_ROTATE_CCW", CM_ROTATE90CCW
        MENUITEM SEPARATOR
        MENUITEM "MENU_SINGLE_PAGE", CM_SINGLEPAGE
        MENUITEM "MENU_CONTINUOUS", CM_CONTINUOUS
        MENUITEM SEPARATOR
        MENUITEM "MENU_DOCUMENT_INFO", CM_DOCINFO
        MENUITEM "MENU_FONTS_INFO", CM_FONTSINFO
    END

    SUBMENU "MENU_WINDOW", 500
    BEGIN
        MENUITEM "MENU_SHOW_NAV_PANE", CM_NAVPANE
        MENUITEM "MENU_MAXVIEW", CM_MAXVIEW
        MENUITEM "MENU_FULLSCREEN", CM_FULLSCREEN
    END

    SUBMENU "MENU_HELP", 600
    BEGIN
        MENUITEM "MENU_PRODUCT_INFORMATION", CM_PRODINFO
    END
END

ACCELTABLE IDA_MAINACCEL
BEGIN
    "O", CM_OPEN, CONTROL
    "o", CM_OPEN, CONTROL
    "X", CM_EXIT, CONTROL
    "x", CM_EXIT, CONTROL
    "C", CM_COPY, CONTROL
    "c", CM_COPY, CONTROL
    "/", CM_SELECTALL, CONTROL
    "A", CM_SELECTALL, CONTROL
    "a", CM_SELECTALL, CONTROL
    VK_INSERT, CM_COPY, VIRTUALKEY, CONTROL
    "F", CM_FIND, CONTROL
    "f", CM_FIND, CONTROL
    "G", CM_FINDAGAIN, CONTROL
    "g", CM_FINDAGAIN, CONTROL
    "N", CM_GOTOPAGE, CONTROL
    "n", CM_GOTOPAGE, CONTROL
    VK_F11, CM_MAXVIEW, VIRTUALKEY
END

rcinclude dialogs.rc

