#include "Lucide_res.H"
#include <os2.h>


DLGTEMPLATE IDD_VIEWPLUGINS
BEGIN
	DIALOG "PLUGLIST_PLUGINS_LIST", 100, 6, 52, 348, 112, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_PLUGINSLIST, 2, 26, 344, 84, WC_CONTAINER, CCS_MINIRECORDCORE | CCS_MINIICONS | CCS_READONLY | CCS_SINGLESEL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		DEFPUSHBUTTON "PLUGLIST_CLOSE", DID_OK, 282, 4, 57, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END
END


DLGTEMPLATE IDD_FONTINFO 
BEGIN
	DIALOG "FONTINFO_FONTINFO", 100, 6, 52, 348, 112, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_FONTSLIST, 2, 26, 344, 84, WC_CONTAINER, CCS_MINIRECORDCORE | CCS_MINIICONS | CCS_READONLY | CCS_SINGLESEL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		DEFPUSHBUTTON "FONTINFO_CLOSE", DID_OK, 282, 4, 57, 14, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_DISABLED | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "FONTINFO_ENUMERATING", IDC_ENUMLABEL, 13, 3, 263, 15, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END
END


DLGTEMPLATE IDD_DOCINFO
BEGIN
	DIALOG "DOCINFO_DOCUMENT_INFO", 100, 6, 52, 348, 112, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_PROPSLIST, 2, 26, 344, 84, WC_CONTAINER, CCS_MINIRECORDCORE | CCS_MINIICONS | CCS_READONLY | CCS_EXTENDSEL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		DEFPUSHBUTTON "DOCINFO_CLOSE", DID_OK, 282, 4, 57, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END
END


DLGTEMPLATE IDD_FIND 
BEGIN
	DIALOG "FIND_FIND", 100, 11, 110, 256, 46, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "FIND_FIND_WHAT", -1, 7, 29, 58, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_FINDFIELD, 73, 30, 111, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "FIND_MATCH_CASE", IDC_FINDMATCHCASE, 8, 6, 177, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		DEFPUSHBUTTON "FIND_OK", DID_OK, 201, 27, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		PUSHBUTTON "FIND_CANCEL", DID_CANCEL, 201, 8, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END
END


DLGTEMPLATE IDD_PROGRESS 
BEGIN
	DIALOG "PDLG_PROGRESS", 100, 72, 109, 253, 50, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_PTEXT, 13, 34, 226, 11, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_PBAR, 13, 24, 226, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PDLG_CANCEL", DID_CANCEL, 98, 5, 57, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END
END


DLGTEMPLATE IDD_ABOUT 
BEGIN
	DIALOG "AD_ABOUT", -1, 23, 73, 219, 112, FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR | FCF_SYSMENU | 0x04000000L
	BEGIN
		CONTROL "AD_OK", DID_OK, 83, 6, 50, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_LOGO, 12, 72, 44, 32, WC_STATIC, SS_TEXT | WS_VISIBLE
		CONTROL "", IDT_LUCIDEVERSION, 57, 97, 151, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans Bold"
		CONTROL "AD_DESCRIPTION", -1, 57, 81, 151, 15, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "http://svn.netlabs.org/lucide/", IDC_NETLABSURL, 57, 72, 151, 8, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", -1, 2, 26, 215, 43, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", -1, 2, 26, 215, 88, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "AD_COPYRIGHTS", IDC_COPYRIGHTS, 4, 28, 211, 35, WC_MLE, MLS_READONLY | MLS_WORDWRAP | MLS_VSCROLL | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END
END

DLGTEMPLATE IDD_SETTINGS 
BEGIN
	DIALOG "SD_SETTINGS", -1, 60, 94, 207, 71, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", -1, 2, 24, 203, 45, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		CONTROL "SD_DEFAULT_PAGE_LAYOUT", -1, 9, 48, 76, 14, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_DEFPGLAYOUT, 88, 20, 111, 40, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "SD_DEFAULT_ZOOM", -1, 9, 28, 77, 14, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_DEFZOOM, 88, -3, 111, 43, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		DEFPUSHBUTTON "SD_OK", DID_OK, 91, 4, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		PUSHBUTTON "SD_CANCEL", DID_CANCEL, 152, 4, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END
END


DLGTEMPLATE IDD_GOTOPAGE 
BEGIN
	DIALOG "GTP_GOTOPAGE", -1, 6, 116, 162, 49, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "GTP_PAGE", -1, 5, 31, 45, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_PAGE, 54, 31, 48, 10, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_PAGES, 106, 31, 52, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		DEFPUSHBUTTON "GTP_OK", DID_OK, 28, 7, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		PUSHBUTTON "GTP_CANCEL", DID_CANCEL, 88, 7, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END
END


DLGTEMPLATE IDD_PRINT 
BEGIN
	DIALOG "PD_TITLE", -1, 65, 6, 258, 230, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "PD_PRINTER", -1, 2, 196, 253, 32, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_NAME_LABEL", -1, 8, 210, 40, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_PNAME, 53, 176, 115, 43, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_JOB_PROPERTIES", IDC_JOBPROPERTIES, 174, 208, 78, 13, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_DISABLED
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_DRIVER_LABEL", -1, 8, 198, 40, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_PDESCRIPTION, 53, 198, 196, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_PRINT_RANGE_AND_COPIES", -1, 2, 140, 253, 55, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_RANGE_ALL", IDC_RANGEALL, 9, 177, 106, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_RANGE_CURRENT_PAGE", IDC_RANGECURRENT, 9, 167, 106, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_RANGE_PAGES", IDC_RANGEPAGES, 9, 157, 90, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_FROM", IDC_LABELFROM, 102, 158, 35, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP | WS_DISABLED
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_PGFROM, 138, 158, 39, 9, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_DISABLED
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_TO", IDC_LABELTO, 183, 158, 22, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP | WS_DISABLED
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_PGTO, 208, 158, 39, 9, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_DISABLED
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_NUMBER_OF_COPIES", -1, 120, 178, 85, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_COPIES, 208, 178, 39, 9, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_RANGE_EVEN_ODD_LABEL", IDC_RANGE_EVEN_ODD_LABEL, 9, 145, 87, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_RANGE_EVEN_ODD, 102, 111, 145, 43, WC_COMBOBOX, CBS_DROPDOWNLIST | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_PRINT_TYPE", -1, 2, 98, 253, 40, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_TYPE_POSTSCRIPT", IDC_TYPE_POSTSCRIPT, 9, 120, 114, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_TYPE_ASIMAGE", IDC_TYPE_ASIMAGE, 9, 110, 240, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_PRINT_TO_FILE", IDC_PRINT_TO_FILE, 127, 120, 124, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_HIGHER_IMAGE_QUALITY", IDC_HIGHER_IMAGE_QUALITY, 18, 100, 235, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_PAGE_ORIENTATION", -1, 2, 77, 253, 20, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_PORTRAIT", IDC_PORTRAIT, 9, 79, 118, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_LANDSCAPE", IDC_LANDSCAPE, 131, 79, 118, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_IGNORE_PRINTER_MARGINS", IDC_IGNMARGINS, 10, 58, 235, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_MARGINS", -1, 2, 22, 253, 54, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_MLEFT", -1, 9, 47, 51, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_MLEFT, 61, 47, 50, 9, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_MRIGHT", -1, 132, 47, 51, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_MRIGHT, 184, 47, 50, 9, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_MTOP", -1, 9, 36, 51, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_MTOP, 61, 36, 50, 9, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_MBOTTOM", -1, 132, 36, 51, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_MBOTTOM, 184, 36, 50, 9, WC_SPINBUTTON, SPBS_MASTER | SPBS_NUMERICONLY | SPBS_JUSTCENTER | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "PD_SELECTED_FORM", -1, 9, 25, 101, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_SELECTED_FORM, 116, 25, 134, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		DEFPUSHBUTTON "PD_BTNPRINT", DID_OK, 140, 4, 51, 14, WS_DISABLED
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		PUSHBUTTON "PD_BTNCANCEL", DID_CANCEL, 198, 4, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END

END


DLGTEMPLATE IDD_PASSWORD 
BEGIN
	DIALOG "PSW_TITLE", 100, 6, 118, 206, 47, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "PSW_PASSWORD", -1, 4, 24, 56, 12, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		CONTROL "", IDC_PASSWORD, 64, 27, 136, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_UNREADABLE | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		DEFPUSHBUTTON "PSW_OK", DID_OK, 96, 4, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
		PUSHBUTTON "PSW_CANCEL", DID_CANCEL, 150, 4, 51, 14
		PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
	END
END

DLGTEMPLATE IDD_LCD_FILEDLG 
BEGIN
	DIALOG "FDLG_OPEN", -1, 4, 3, 355, 188, FS_NOBYTEALIGN | FS_DLGBORDER | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_SYSMENU | FCF_TITLEBAR | FCF_DLGBORDER
	BEGIN
		CONTROL "FDLG_FILENAME", DID_FILENAME_TXT, 5, 174, 36, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "", DID_FILENAME_ED, 45, 175, 304, 6, WC_ENTRYFIELD, ES_AUTOSCROLL | ES_LEFT | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "FDLG_DRIVE", DID_DRIVE_TXT, 5, 160, 36, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "", DID_DRIVE_CB, 43, 43, 83, 126, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "FDLG_FILETYPE", DID_FILTER_TXT, 135, 160, 42, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "", DID_FILTER_CB, 178, 43, 174, 126, WC_COMBOBOX, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "FDLG_FILE", DID_FILES_TXT, 130, 146, 118, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "", DID_FILES_LB, 129, 23, 120, 120, WC_LISTBOX, LS_HORZSCROLL | LS_NOADJUSTPOS | WS_VISIBLE | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "FDLG_DIRECTORY", DID_DIRECTORY_TXT, 5, 146, 119, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "", DID_DIRECTORY_LB, 4, 23, 120, 120, WC_LISTBOX, LS_HORZSCROLL | LS_OWNERDRAW | LS_NOADJUSTPOS | WS_VISIBLE | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "FDLG_OK", DID_OK_PB, 4, 3, 50, 14, WC_BUTTON, BS_DEFAULT | BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "FDLG_CANCEL", DID_CANCEL_PB, 57, 3, 50, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
		CONTROL "Preview", IDC_PREVIEW, 256, 5, 28, 138, WC_STATIC, SS_TEXT | DT_CENTER | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		PRESPARAMS PP_FONTNAMESIZE , "9.WarpSans"
	END
END

